body {
    main {
        .accordion {
            background-image: url('../../assets/images/Fondo-Bloques.jpg');
            background-size: cover;
            .groups {
                margin-right: 0;
                padding-top: 18%;
                padding-bottom: 18%;
                padding-left: 10%;
                padding-right: 10%;
                h2 {
                    color: #FFFFFF;
                    margin-bottom: 23px;
                }
                .group-1,
                .group-2 {
                    .card {
                        margin-bottom: 23px;
                        border-radius: 8px;
                        .card-header {
                            padding-right: 20%;
                            span {
                                font-size: 16px;
                                color: #03132E;
                                font-weight: bold;
                            }
                            button {
                                position: absolute;
                                left: 86%;
                                font-size: 37px;
                                top: 4px;
                                color: #03132E;
                                @include breakpoint(phone) {
                                    margin-left: 45%;
                                    font-size: 37px;
                                    position: static;
                                }
                                @include breakpoint(tablet) {
                                    left: 78%;
                                }
                            }
                        }
                    }
                }
                .group-1 {
                    .card-header {
                        padding-top: 4.6%;
                        padding-bottom: 4.6%;
                    }
                }
            }
        }
    }
}