body {
    footer {
        background-color: #FFFFFF;
        .items {
            margin-right: 0;
            .item2 {
                ul {
                    margin-top: 37px;
                    @include breakpoint(desktop) {
                        margin-left: 9%;
                        margin-top: 40px;
                    }
                    li {
                        list-style: none;
                        font-size: 13px;
                        margin-top: 5px;
                        font-family: 'Roboto', sans-serif;
                        font-weight: bold;
                        color: #03132E;
                        margin-bottom: 9px;
                        @include breakpoint(desktop) {
                            font-size: 22px;
                            margin-top: 0;
                        }
                        i {
                            width: 8%;
                            color: #F2B200;
                            @include breakpoint(desktop) {
                                width: 5%;
                                letter-spacing: 16px;
                            }
                        }
                        span {
                            margin-left: 5%;
                            @include breakpoint(phone) {
                                margin-left: 8%;
                            }
                            @include breakpoint(tablet) {
                                margin-left: 8%;
                            }
                        }
                    }
                }
            }
            .logo {
                text-align: center;
                margin-top: 11px;
                margin-bottom: 23px;
                img {
                    @include breakpoint(phone) {
                        margin-left: 4%;
                        width: 100%;
                    }
                    @include breakpoint(tablet) {
                        width: 100%;
                        margin-top: 23px;
                    }
                }
                @include breakpoint(desktop) {
                    margin-top: 70px;
                    margin-bottom: 40px;
                }
            }
        }
    }
}