body {
    main {
        .formulario-2 {
            background-image: url('../../assets/images/Fondo-Formulario-2.jpg');
            background-size: cover;
            padding-top: 10%;
            padding-bottom: 10%;
            @include breakpoint(phone) {
                padding-top: 32%;
                padding-bottom: 32%;
            }
            .form {
                @include breakpoint(phone) {
                    margin-left: 10%;
                    padding-right: 10%;
                }
                @include breakpoint(tablet) {
                    margin-left: 37%;
                    padding-right: 17%;
                }
                @include breakpoint(desktop) {
                    margin-left: 62%;
                    padding-right: 11%;
                }
                .item {
                    background-color: #046488;
                    padding-left: 12%;
                    padding-right: 12%;
                    padding-top: 10%;
                    padding-bottom: 10%;
                    border-radius: 25px;
                    p {
                        font-size: 28px;
                        line-height: 1;
                        color: #FFFFFF;
                        strong {
                            font-family: 'Open Sans', sans-serif;
                        }
                        @include breakpoint(phone) {
                            font-size: 21px;
                        }
                    }
                    form {
                        input {
                            display: block;
                            width: 100%;
                            height: 56px;
                            margin-bottom: 21px;
                            border-radius: 6px;
                            padding-left: 4%;
                            border: none;
                        }
                         ::placeholder {
                            color: #03132E;
                            font-weight: 800;
                        }
                        .btn {
                            width: 100%;
                            background-color: #F2B200;
                            color: #03132E;
                            font-size: 25px;
                            border-radius: 6px;
                            transition: 1s;
                            font-family: 'Montserrat', sans-serif;
                            font-weight: 800;
                            @include breakpoint(phone) {
                                font-size: 20px;
                            }
                        }
                        .btn:hover {
                            background-color: transparent;
                            color: #F2B200;
                            border-color: #F2B200;
                        }
                    }
                }
            }
        }
    }
}