body {
    main {
        .team2 {
            background-color: #03132E;
            color: #FFFFFF;
            text-align: center;
            padding-top: 10%;
            padding-bottom: 10%;
            padding-left: 10%;
            padding-right: 10%;
            @include breakpoint(phone) {
                padding-top: 20%;
                padding-bottom: 20%;
            }
            @include breakpoint(tablet) {
                padding-left: 0;
                padding-right: 0;
            }
            .group-1,
            .group-2 {
                margin-right: 0;
                .item {
                    margin-bottom: 100px;
                }
                article {
                    p {
                        margin-top: 25px;
                    }
                    p:nth-child(2) {
                        margin-top: -20px;
                    }
                }
                .borde {
                    border-right: solid 2px #FFFFFF;
                    @include breakpoint(phone) {
                        border: none;
                    }
                }
            }
            .group-2 {
                margin-top: 70px;
                img.pluma {
                    margin-top: 140px;
                    @include breakpoint(phone) {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}