body {
    main {
        .whatsapp {
            background-image: url('../../assets/images/fondo-whatsapp.jpg');
            background-size: cover;
            padding-top: 20%;
            padding-bottom: 20%;
            .contenedor {
                text-align: center;
                color: #545454;
                p {
                    font-family: 'Roboto', sans-serif;
                    font-size: 36px;
                    font-style: italic;
                    line-height: 1;
                    strong {
                        font-family: 'Roboto', sans-serif;
                        font-style: italic;
                        font-weight: 900;
                        font-size: 46px;
                        margin-right: 9%;
                        @include breakpoint(phone) {
                            margin-left: 8%;
                        }
                    }
                }
                .check {
                    position: absolute;
                    margin-top: -11px;
                    margin-left: 5px;
                }
                img.whats {
                    transition: 1s;
                    cursor: pointer;
                    margin-top: -50px;
                    @include breakpoint(phone) {
                        width: 80%;
                        margin-top: 20px;
                    }
                }
                img.whats:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}